.idea/
.idea/*
venv/
venv/*
__pycache__/
__pycache__/*

.DS_Store
package-lock.json

**/.terraform*

scripts/delete_scripts
**/uninstall_artifactory.sh

.serverless
node_modules
package.json

*.hcl
*.backup
*.tfstate
.terraform
.backup
.idea

scripts/rest_apis/delete_artifacts_from_instances.sh
cluster_config.yml
*/cluster_config.yml
